<p><%= link_to "Home", root_path %></p>
<h1>Hello, World!</h1>
<h2><%= "MuMu-1M5D" %></h2>
<p><%= image_tag "OCHI3500.JPG" , size: "609x405" %></p>
<hr>
<h2><%= "MuMu-1Y9M" %></h2>
<p><%= video_tag "LINE_MOVIE_1459795282064.mp4", controls: true, autobuffer: true %></p>
<p><%= "MuMu想開車" %></p>
<p><%= video_tag "LINE_MOVIE_1459857927589.mp4", controls: true, autobuffer: true %></p>
<p><%= "MuMu不還鑰匙" %></p>
