<!DOCTYPE html>
<html>

  <head>
    <title><%= @page_title || "Event application" %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
   <p style="color: blue"><%= flash[:notice] %></p>
   <p style="color: fuchsia"><%= flash[:alert] %></p>
    <%= yield %>

  </body>
</html>
